<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{/administrativo/fragments/layout}">
<head>

<meta charset="utf-8" />
<title>Página de Cadastro de Cidades</title>


</head>

<body>

	<section class="container-fluid" layout:fragment="conteudo">
	
		<div th:if="${session.mensagem}">
			<div th:classappend="${'alert-' + session.mensagem.tipo}"
				class="alert alert text-center" role="alert">
				<span th:text="${session.mensagem.conteudo}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('mensagem')}"></th:block>
		</div>

		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">
				<u><b>Cadastro de Cidades</b></u>
			</h1>
		</div>

		<div class="page-header">
			<nav class="navbar navbar-expand-md navbar-top bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				</div>
				<a class="btn btn-primary btn-md"
					href="/administrativo/cidades/listar" role="button"> <span
					class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
					<span>Listar Cidades</span>
				</a>
			</nav>
		</div>

		<div class="container" id="cadastro"></div>
		<form onsubmit="return validacaoDeCPF"
			action="/administrativo/cidades/salvar" th:object="${cidade}"
			method="POST">
			<div class="form-row">
				<div class="form-group col-md-5">
					<label for="nome">Nome da Cidade</label> <input type="text"
						th:required="required"
						class="form-control" id="nomecidade" placeholder="Nome da Cidade"
						autofocus="autofocus" th:field="*{nome}" value="" />
					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-5">
					<label for="salario">Estado</label> <select th:field="*{estado}"
						th:required="required"
						class="form-control">
						<option value="">Selecione um Estado...</option>
						<option th:each="est: ${listaEstados}" th:value="${est.id}"
							th:text="${est.nome}"></option>
					</select>

					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-10">
					<button type="submit" class="btn btn-primary btn-sm float-right">Salvar</button>
				</div>

			</div>

			<input type="hidden" id="id" th:field="*{id}" value="" />

		</form>
	</section>
	
	<script src="/js/agenda.js"></script>

</body>

</html>









