<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{/administrativo/fragments/layout}">
<head>

<meta charset="utf-8" />
<title>Página de Cadastro de Permissões</title>


</head>

<body>

	<section class="container-fluid" layout:fragment="conteudo">
		
		<div th:if="${session.mensagem}">
			<div th:classappend="${'alert-' + session.mensagem.tipo}"
				class="alert alert text-center" role="alert">
				<span th:text="${session.mensagem.conteudo}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('mensagem')}"></th:block>
		</div>

		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">
				<u><b>Cadastro de Permissões</b></u>
			</h1>
		</div>

		<div class="page-header">
			<nav class="navbar navbar-expand-md navbar-top bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				</div>
				<a class="btn btn-primary btn-md"
					href="/administrativo/permissoes/listar" role="button"> <span
					class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
					<span>Listar Permissões</span>
				</a>
			</nav>
		</div>

		<div class="container" id="cadastro"></div>
		<form onsubmit="return validacaoDeCPF"
			action="/administrativo/permissoes/salvar" th:object="${permissao}"
			method="POST">
			<div class="form-row">				
				<div class="form-group col-md-5">
					<label>Funcionário</label> <select th:field="*{funcionario}"
						th:required="required"
						class="form-control">
						<option value="">Selecione um Funcionário...</option>
						<option th:each="func: ${listaFuncionarios}" th:value="${func.id}"
							th:text="${func.nome}"></option>
					</select>

					<div class="invalid-feedback"></div>
				</div>
				
				<div class="form-group col-md-5">
					<label>Funcao</label> <select th:field="*{funcao}"
						th:required="required"
						class="form-control">
						<option value="">Selecione uma Função...</option>
						<option th:each="fun: ${listaFuncoes}" th:value="${fun.id}"
							th:text="${fun.nome}"></option>
					</select>

					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-10">
					<button type="submit" class="btn btn-primary btn-sm float-right">Salvar</button>
				</div>

			</div>

			<input type="hidden" id="id" th:field="*{id}" value="" />

		</form>
	</section>

</body>

</html>









