<!DOCTYPE html>
<html lang="pt-br"
	xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{/administrativo/fragments/layout}">
<head>
	<meta charset="utf-8"/>
	<title> Página de Cadastro de Funcionários</title>

</head>

<body>

	<section class="container-fluid" layout:fragment="conteudo">
	
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Cadastro de Funcionário</h1>
		</div>
		<p> Teste pakodokiashjiduhasiukdnaskjghdaskiodju </p>
	</section>

</body>

</html>